<!DOCTYPE html>
<html ng-app="expenses">
<head>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
	<link rel="stylesheet" type="text/css" href="css/custom.css"/>
	<script type="text/javascript" src="lib/angular/angular.min.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
</head>
<body>

<div ng-controller="LocationController as loc">
	<form name="expensesForm" ng-controller="ReviewController as reviewCtrl" ng-submit="reviewCtrl.addReview(loc.productObj)">
	
		<blockquote>
		<h2>Expenses</h2>
			<table class="CSSTableGenerator" width= "100" border="3" >
					<td>
						Location
					</td>
					<td>
						Amount
					</td>
					<td>
						Date
					</td>
				<tr>
					<td>
						<select ng-model="store">
							<option ng-repeat="lc in loc.productObj.location" value="{{lc}}">{{lc}}</option>
						</select >	
						<br>
						<div class="col-xs-3">
						</div>
						<div  ng-show="loc.isOther(store)"  class="col-xs-6">
							<input ng-model="other" type="text" size="50" class="form-control" placeholder="Enter Store" aria-describedby="basic-addon2">
						</div>
					</td>
					<td >
						<input type="number"  class="col-xs-3" size="5" step="0.01" min="0" ng-model="amount"></input>
					</td>

					<td>
						<button type="button" class="btn btn-primary" ng-click="loc.getDate()">Today's-Date</button>
				
					</td>
				<tr>
					<td>
						{{store}} {{other}}
					</td>
					<td>
						{{review.amount = amount}}
					</td>
					<td>
						<div ng-show = "loc.productObj.showDate">
							{{loc.productObj.date}}
						<div>
					</td>
				</table>
				<br></br>
			<button class="btn btn-primary" type="submit" ng-click="reviewCtrl.setValues(store,other, amount, loc.productObj.date)">Log Purchase</button>
			<br>
			<div ng-show="reviewCtrl.shouldClear()">
			<h2>Purchase Items</h2>
			<table class="CSSTableGenerator" border="3" style="width=100%" >
					<td>
						Location
					</td>
					<td>
						Amount
					</td>
					<td>
						Date
					</td>
				<tr ng-repeat="rc in reviewCtrl.outputObj">
					<td>	
						{{rc.store}}		
					</td>
					<td>
						{{rc.total}}
					</td>
					<td>
						{{rc.date}}				
					</td>
				</tr>
				</tbody>
			</table>
			<br>
			<button class="btn btn-danger" type="button" ng-click="reviewCtrl.cleanHistory()">Clear</button>
		</div>
		</blockquote>
	</form>

	
</body>
</html>
